.details__container {
  padding: 0 24px;
  flex-grow: 1;

  .mobile-download-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    display: none;
    padding: 24px;
    background: var(--patientfi-white-main);
    border-radius: 24px 24px 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 640px) {
      display: flex;
      justify-content: center;
    }
  }
}