:root {
  // welcome page colors
  --welcome-laguna-1: #85D7D2;
  --welcome-laguna-2: #F8FEFA;
  --welcome-accent-1: #EDA044;

  // subsidiary colors
  --subsidiary-carbon-1: #12181d;
  --subsidiary-carbon-2: #11181f;
  --subsidiary-carbon-3: #19232d;
  --subsidiary-laguna-1: #529a8b;
  --subsidiary-laguna-2: #5d9a8a;
  --subsidiary-laguna-3: #54a091;
  --subsidiary-laguna-4: #a5cac5;
  --subsidiary-laguna-5: #8ac1b9;
  --subsidiary-laguna-6: #69d8c3;
  --subsidiary-laguna-6-opacity: #69D8C320;
  --subsidiary-accent-1: #f27d62;
  --subsidiary-white-main: #ffffff;

  // patientFI colors

  --patientfi-carbon-1: #11181f;
  --patientfi-carbon-2: #19232d;
  --patientfi-carbon-3: #2B3B42;
  --patientfi-laguna-1: #29DBC2;
  --patientfi-laguna-2: #ECFCFB;
  --patientfi-blue-jeans-1: #60B0FB;
  --patientfi-charge-1:#F79C37;
  --patientfi-charge-2:#EDA044;
  --patientfi-white-main: #ffffff;
  --patientfi-grey-main: #f4f4f4;
  --patientfi-black-main: #000000;

  //Sizes
  --home-page-block-width: 1440px;
  --home-page-block-content-width: 1240px;
}
