.Filter-select-wrapper {
  position: relative;
  user-select: none;
  height: 32px;

  @media screen and (max-width: 640px) {
    height: 24px;
  }

  .Filter-select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 32px;
    -webkit-appearance: none;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: var(--subsidiary-carbon-3);
    background: transparent;

    img {
      margin-left: 6px;

      &.opened {
        transform: rotateZ(180deg);
      }
    }

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  .Filter-select-button-mobile {
    display: none;

    @media screen and (max-width: 640px) {
      display: block;
    }
  }

  .Filter-select-options {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--subsidiary-white-main);
    margin-top: 8px;
    padding: 21px 19px 11px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    min-width: 195px;
    border-radius: 24px;

    .option {
      position: relative;

      label {
        margin-left: 25px;
        line-height: 16px;
      }

      .container {
        &:hover {
          cursor: pointer;
        }
        input {
          display: none;
          &:checked {
            & ~ .checkmark:after {
              display: block;
            }
          }
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          border: 1px solid var(--patientfi-laguna-1);
          border-radius: 4px;
        }

        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
          left: 4px;
          top: 0;
          width: 4px;
          height: 8px;
          border: solid var(--patientfi-laguna-1);
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    div {
      font-size: 16px;
      font-weight: 500;
      color: var(--subsidiary-carbon-3);
      line-height: 19.5px;
      margin-bottom: 16px;
    }
  }
}
