.DetailsHeader__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: var(--home-page-block-content-width);
  margin: 48px auto 0;
  flex-wrap: wrap;
  gap: 23px;
  padding-bottom: 22px;
  border-bottom: 3px solid var(--patientfi-laguna-1);

  @media screen and (max-width: 640px) {
    margin: 16px auto 0;
  }

  .DetailsHeader__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    margin-right: auto;

    img {
      cursor: pointer;
    }

    h1 {
      font-weight: 600;
      font-size: 24px;
      text-transform: capitalize;
      color: var(--patientfi-carbon-1);
      margin: 0;

      &.DetailsHeader__title-desktop {
        @media screen and (max-width: 640px) {
         display: none;
        }
      }

      &.DetailsHeader__title-mobile {
        display: none;
        @media screen and (max-width: 640px) {
          display: block;
        }
      }
    }
  }

  .DetailsHeader__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 19px;
    flex-grow: 1;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}