.contained-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 21px 27px;
  align-items: center;
  width: 100%;
  max-width: 377px;
  height: 60px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 32px;

  @media screen and (max-width: 640px){
    height: 44px;
    font-size: 16px;
    font-weight: 700;
  }

  &:hover {
    opacity: 0.9;
  }

  .contained-button__icon {
    margin-right: 16px;
  }
}